[client]
# In isolated environment sockets are pretty useless...
host = 127.0.0.1
port = 4407
protocol = tcp

[mysqld_safe]
nice = 0
socket = /tmp/mysqld.sock

[mysqld]
user = root
pid-file = /var/lib/mysql-files/mysqld.pid
log_error = /log/errors.log

datadir = /storage
tmpdir = /tmp

bind-address = 0.0.0.0
port = 4407

character-set-server = UTF8MB4

innodb_autoextend_increment = 256
innodb_buffer_pool_size = 12G
innodb_buffer_pool_instances = 12
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_io_capacity = 400
innodb_log_buffer_size = 4G
innodb_open_files = 400
innodb_log_file_size = 1G

interactive_timeout = 65535
join_buffer_size = 512M
key_buffer_size = 384M

long_query_time = 3

max_allowed_packet = 32M
max_binlog_size = 100M
max_connections = 256
max_heap_table_size = 2G

read_buffer_size = 16M
read_rnd_buffer_size = 16M

slow_query_log = TRUE
slow_query_log_file = /log/slow.log

sort_buffer_size = 16M
table_open_cache = 400

tmp_table_size = 2G
wait_timeout = 65535